@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Noto+Sans:wght@100;300&family=Titillium+Web:ital@1&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #be2263;
}

#name {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 1rem;
    margin: 5em 16em 5em 16em;
    background-color: rgb(134, 26, 148);
    padding: 10rem 10rem 10rem 10rem;
    color: rgba(0, 0, 0, 0.664);
}

header {
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem 0rem 1rem;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 5rem;
    overflow: auto;
}

header h1 {
    font-family: 'Didact Gothic', sans-serif;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem 9rem 0rem 1rem;
    height: 3rem;
}

#logo {
    width: 5rem;
    height: 5rem;
}

header nav {
    display: flex;
    /* flex-direction: row; */
    padding: 1rem 2rem 1rem 2rem;
    margin: 0rem 1rem 0rem 16rem;
    width: 25rem;
}

header nav ul li {
    font-family: 'Varela Round', sans-serif;
    display: inline;
    margin: 1rem 1rem 1rem 1rem;
    list-style: none;
}

.home {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Titillium web', sans-serif;
    flex-direction: column;
    background-color: #2266be;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 50rem;
    border-radius: 1rem;
}

.home h2 {
    padding: 1rem;
}

.home p {
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    text-align: calc(30, 50, 50, 50);
}

.co {
    display: flex;
    justify-content: space-between;
}

.co1 {
    display: flex;
    justify-content: space-between;
}

#image {
    width: 30rem;
    background-color: black;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 1rem;
}

.gym {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Titillium web', sans-serif;
    flex-direction: column;
    background-color: #be6022;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 50rem;
    border-radius: 1rem;
}

.gym p {
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    text-align: calc(30, 50, 50, 50);
}

.gym h2 {
    padding: 1rem;
}

#image1 {
    width: 31rem;
    background-color: black;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 1rem;
}

.mem {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Titillium web', sans-serif;
    flex-direction: column;
    background-color: #beae22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 80.5rem;
    border-radius: 1rem;
}

.mem p {
    text-align: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    text-align: calc(30, 50, 50, 50);
}

.mem h3 {
    text-align: center;
    padding: 1rem;
}

footer {
    padding: 3rem 3rem 3rem 3rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-sizing: content-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 209, 114);
}

.con{
    display: flex;
    /* flex-direction: row; */
}

.contact {
    padding: 3rem 3rem 3rem 3rem;
    margin: 1rem 1rem 1rem -6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-sizing: content-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: #fff;
}

.contact h2 {
    font-family: 'Noto Sans', monospace;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: 'Didact Gothic', monospace;
    /* padding: 0.3rem; */
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 0.6rem;
    background-color: #2285be;
    border: solid black 0.15rem;
    text-align: center;
    width: 30rem;
    height: 2rem;
    margin-top: 1rem;
}

button:hover{
    background-color: transparent;
}

.form-control,
textarea {
    width: 30rem;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0.5rem;
}

.contact1 {
    padding: 3rem 3rem 3rem 3rem;
    margin: 6rem 10rem 1rem -6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-sizing: content-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 4rem;
    background-color: #fff;
}

#msg{
    width: 30rem;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    height: 1.5rem;
}

.con h2{
    font-family: 'Didact Gothic', monospace;
    text-align: center ;
}

.con label{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
}